@model List<B2CPortal.Models.CartViewModel>

<!-- cart content section start -->
<section class="pages cart-page section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="table-responsive padding60">
                    <table class="wishlist-table text-center" id="myTable">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Discount %</th>
                                <th>Price</th>
                                <th>quantity</th>
                                <th>Sub Total</th>
                                <th>Discount Amount</th>
                                <th>Total </th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr data-id="@item.Id">
                                        <td class="td-img text-left">
                                            <a href="@Url.Action("Index", "ProductDetails", new { productId = item.Id})"><img src="@item.MasterImageUrl" alt="Add Product" /></a>
                                            <div class="items-dsc">
                                                <h5><a href="@Url.Action("Index", "ProductDetails", new { productId = item.Id})"> @item.Name (@item.Packsize)</a></h5>
                                                @*<p class="itemcolor">Color : <span>Blue</span></p>*@
                                                @*<p class="itemcolor">Size   : <span>SL</span></p>*@
                                            </div>
                                        </td>
                                        <td class="pricecol">
                                            @item.Discount
                                        </td>
                                        <td class="pricecol">
                                            @item.Price
                                        </td>
                                        <td>
                                            <div class="plus-minus">
                                                <a class="dec qtybutton">-</a>
                                                <input type="text" value="@item.Quantity" name="qtybutton" class="plus-minus-box">
                                                <a class="inc qtybutton">+</a>
                                            </div>
                                        </td>
                                        <td class="totalpricecol" style="text-decoration:line-through;">
                                            @item.ActualPrice
                                        </td>
                                        <td class="totalpricecol">
                                             @item.DiscountAmount

                                        </td>
                                        <td class="totalpricecol">
                                            <b style="font-weight:bolder;">@item.TotalPrice</b>
                                        </td>
                                        <td><i class="mdi mdi-close removecartbtn" title="Remove this product"></i></td>
                                    </tr>
                                }



                            }
                            else
                            {
                                <tr>
                                    <td colspan="8">
                                        <h4>
                                            The Cart is Empty
                                        </h4>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="text-right">
                        @if (Model == null || Model.Count() <= 0)
                        {
                            <a class="btn btn-primary" href="/Product/ProductList">Shop Now</a>
                        }
                        else
                        {
                    <div id="cartmanagebtn">
                        
                       
                        <button type="button" id="updatecart" class="btn btn-primary">Update Cart <i class="mdi mdi-cart-plus"></i></button>
                        <a class="btn btn-primary" href="/Orders/Checkout">Check out<i class="mdi mdi-credit-card-multiple"></i> </a>
                    </div>
                        }
                    </div>
                </div>

            </div>
        </div>
        <div class="row margin-top">
            @*<div class="col-sm-6">
                    <div class="single-cart-form padding60">
                        <div class="log-title">
                            <h3><strong>coupon discount</strong></h3>
                        </div>
                        <div class="cart-form-text custom-input">
                            <p>Enter your coupon code if you have one!</p>
                            <form action="mail.php" method="post">
                                <input type="text" name="subject" placeholder="Enter your code here..." />
                                <div class="submit-text coupon">
                                    <button type="submit">apply coupon </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>*@
            <div class="col-sm-12">
                <div class="single-cart-form padding60">
                    <div class="log-title">
                        <h3><strong>payment details</strong></h3>
                    </div>
                    <div class="cart-form-text pay-details table-responsive">
                        <table>
                            <tbody>
                                <tr>
                                    <th>Cart Subtotal</th>
                                    <td> @Model.Select(x => x.CartSubTotal).FirstOrDefault()</td>
                                </tr>
                                <tr>
                                    <th>Total Discount</th>
                                    <td> ( @Model.Select(x => x.CartSubTotalDiscount).FirstOrDefault() )</td>
                                </tr>
                                <tr>
                                    <th>Shipping and Handing</th>
                                    <td>   @Model.Select(x => x.ShipingAndHostring).FirstOrDefault() </td>
                                </tr>
                                <tr>
                                    <th>Vat</th>
                                    <td>  @Model.Select(x => x.VatTax).FirstOrDefault()</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="tfoot-padd">Order total</th>
                                    <td class="tfoot-padd"> <strong class="pricesymbol"> </strong>  @Model.Select(x => x.OrderTotal).FirstOrDefault()</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<script>
    $(document).ready(function () {
        jQuery('.plus-minus-box').keyup(function () {
            this.value = this.value.replace(/[^0-9\.]/g, '');
        });
    });
    $(".removecartbtn").click(function () {
         
        var row = $(this).closest("tr");
        var id = $(row).attr('data-id');
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteCart", "Product")', //"/Product/DeleteCart",
            data: {
                id: id,
            },
            success: function (data) {
                if (!data.success) {
                    toastr.error(data.msg);
                } else {
                toastr.success(data.msg);
                }
                $("#CartTable").load('@Url.Action("GetCartList", "Product")');
                ShowCartProducts();
                $(row).remove();
                return false;

            }
        });
         //$(this).remove();
        //return false;
    });
    $("#updatecart").click(function () {
        document.getElementsByClassName("loader-container")[0].style.display = "block";
        var cartids = [];
        var cartquentites = [];
        var array = $.makeArray($('tbody tr[id]').map(function () {
            return this.id;
        }));
        var tb = $("#myTable tbody");//.closest("tr");
        var size = tb.find("tr").length;
        tb.find("tr").each(function (index, element) {
            cartids.push(element.dataset["id"]);
            $(element).find('td').each(function (index, element) {
                if (parseInt($(element).find('input').val()) > 0) {
                    cartquentites.push($(element).find('input').val());
                }
            });
        });
        console.log("Number of rows : " + cartquentites);
        console.log("Number of  : " + cartids);
        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateCartList", "Product")', //"/Product/DeleteCart",
            data: {
                cartquentites: cartquentites,
                cartids: cartids
            },
            success: function (data) {
                if (!data.success) {
                    ShowCartProducts();
                    $("#CartTable").load('@Url.Action("GetCartList", "Product")');
                    toastr.success(data.msg);
                    document.getElementsByClassName("loader-container")[0].style.display = "none";
                } else {
                    toastr.error(data.msg);
                }

            }
        });
    });

</script>