@model List<B2CPortal.Models.OrderVM>

<!-- cart content section start -->
@{ 
    Layout = null;
}
<style>
/*    .ellipsiscontent {
        display: -webkit-box;
        max-width: 200px;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }*/
    .overflow {
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

        .overflow:hover {
            overflow: visible;
        }

            .overflow:hover span {
                position: relative;
                background-color: white;
                box-shadow: 0 0 4px 0 black;
                border-radius: 1px;
            }
</style>

<div class="quickviewdialog">
</div>
<div class="product-details quick-view modal animated zoomInUp" id="quick-view">

</div>

        <section class="pages cart-page section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive padding60">
                            <table class="wishlist-table text-center" id="myTable">
                                <thead>
                                    <tr>
                                        <th>Order #</th>
                                        <th>Order Date</th>
                                        <th width="10%">Shipping</th>
                                        <th width="10%">Billing</th>
                                        <th width="10%">Description</th>
                                        <th>Items</th>
                                        <th>  Total Amount</th>
                                        <th> Payment Mode</th>
                                        <th> Status</th>
                                        <th> Payment </th>
                                        <th> City</th>
                                        <th> Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Count > 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr data-id="@item.Id">
                                                <td class="td-img text-left">
                                                    @item.OrderNo
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(i => item.CreatedOn)
                                                </td>
                                                <td>
                                                    <span class="overflow" style="float: left; width: 50px">
                                                        <span>@item.ShippingAddress </span>
                                                    </span>
                                                </td>

                                                <td>
                                                    <span class="overflow" style="float: left; width: 50px">
                                                        <span>  @item.BillingAddress</span>
                                                    </span>

                                                </td>
                                                <td>

                                                    <span class="overflow" style="float: left; width: 50px">
                                                        <span>   @item.OrderDescription</span>
                                                    </span>
                                                </td>
                                                <td>
                                                    @item.TotalQuantity
                                                </td>

                                                <td>
                                                    @item.Currency @item.TotalPrice
                                                </td>
                                                <td>
                                                    @item.PaymentMode
                                                </td>
                                                <td style="color:rebeccapurple">
                                                    @item.Status
                                                </td>

                                                <td style="color:rebeccapurple">
                                                    @{ if (item.PaymentStatus == true)
                                                        {


                                                            <span style="color:green">&#10003;</span>

                                                        }
                                                        else
                                                        {
                                                            <span style="color:red">&#10539;</span>

                                                        }
                                                    }
                                                </td>
                                                <td>@item.CityName</td>
                                                <td>
                                                    <a href="#" data-toggle="modal" id="19" data-target="#quick-view" onclick="Handleorderdetail(@item.Id)"> <i class="mdi mdi-account-card-details" title="Order Detail"></i> </a>
                                                    @if (item.PaymentMode.ToLower() != "cod" && item.Status.ToLower() == "inprocess" && item.PaymentStatus == false)
                                                    {
                                                        <a href="@Url.Action("Checkout","Orders",new { id = item.Id })" class="btn-info" onclick="Handleorderdetail(@item.Id)"> Manage </a>
                                                    }


                                                </td>

                                                <td>@*<i class="mdi mdi-close removecartbtn" title="Remove this product"></i>*@</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="10">
                                                <h4>
                                                    Your Order History is Empity
                                                </h4>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                                    @*<a class="btn btn-primary btn-lg btn-block" href="/Product/ProductList">Shop Now</a>*@
                            @*<div class="text-right">
                                    @if (Model == null || Model.Count() <= 0)
                                    {


                                        <button type="button" id="updatecart" disabled="true" class="btn btn-primary">Update Cart</button>
                                    }
                                    else
                                    {
                                        <button type="button" id="updatecart" class="btn btn-primary">Update Cart</button>
                                    }
                                </div>*@
                        </div>

                    </div>
                </div>
            </div>
        </section>
