<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home || Dastak Xpress</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/Asset/img/favicon.ico")">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Asset/css/bootstrap.min.css")">
    <!-- animate css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Asset/css/animate.css")">
    <!-- pe-icon-7-stroke -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Asset/css/materialdesignicons.min.css")">
    <!-- pe-icon-7-stroke -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Asset/css/jquery.simpleLens.css")">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Asset/css/jquery-ui.min.css")">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Asset/css/meanmenu.min.css")">
    <!-- nivo.slider css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Asset/css/nivo-slider.css")">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Asset/css/owl.carousel.css")">
    <!-- style css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Asset/css/style.css")">
    <!-- responsive css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Asset/css/responsive.css")">
    <!-- modernizr js -->
    <script src="@Url.Content("~/Content/Asset/js/vendor/modernizr-2.8.3.min.js")"></script>

    <link data-require="toastr" data-semver="2.1.2" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.css" />
    <script data-require="toastr" data-semver="2.1.2" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.js"></script>
    <script data-require="jquery@2.2.0" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <style>
        .form-check {
            font-size: large;
        }

        .list-btn > a:hover {
            cursor: pointer;
        }

        a {
            cursor: pointer;
        }

        .cartdrop-sin-container {
            overflow-y: auto;
            max-height: 350px;
        }
        /*======================autocomplete css=========================*
        /*the container must be positioned relative:*/
        .autocomplete {
            position: relative;
            display: inline-block;
        }

        .autocomplete-items {
            position: absolute;
            /*border: 1px solid #d4d4d4;*/
            /*border-bottom: none;*/
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
            height: 200px;
        }

            .autocomplete-items div {
                /*padding: 10px;*/
                cursor: pointer;
                background-color: #fff;
                border-bottom: 1px solid #d4d4d4;
                text-align: left;
            }

                /*when hovering an item:*/
                .autocomplete-items div:hover {
                    background-color: #e9e9e9;
                }

        /*when navigating through the items using the arrow keys:*/
        .autocomplete-active {
            background-color: #d4d4d4 !important;
            /*color: #ffffff;*/
        }

        .searchimg {
            width: 50px;
            height: 80px;
        }
    </style>

    <style>

        .removeActiveBtn {
            background-color: grey;
            color: #ccc
        }

        .applyActiveBtn {
            background-color: Highlight;
            color: #fff
        }


        .mainmenu li:hover ul {
            top: 105%;
        }

        .cart-itmes:hover .cartdrop {
            top: 187%;
        }

        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

        .searchimg {
            width: inherit;
            height: inherit;
            padding: 5px;
        }

        .autocomplete-items div {
            height: 70px;
            padding-left: 10px;
        }

        .quentityamounttext strong {
            font-size: 18px
        }
    </style>


    @Html.Partial("_Header")
</head>
<body>

    @RenderBody()
    @Html.Partial("_Footer")
    <script src="@Url.Content("~/Scripts/moment.js")"></script>
    <!-- jquery latest version -->
    <script src="@Url.Content("~/Content/Asset/js/vendor/jquery-1.12.3.min.js")"></script>
    <!-- bootstrap js -->
    <script src="@Url.Content("~/Content/Asset/js/bootstrap.min.js")"></script>
    <!-- owl.carousel js -->
    <script src="@Url.Content("~/Content/Asset/js/owl.carousel.min.js")"></script>
    @*meanmenu js*@
    <script src="@Url.Content("~/Content/Asset/js/jquery.meanmenu.js")"></script>
    @*countdown JS*@
    <script src="@Url.Content("~/Content/Asset/js/countdown.js")"></script>
    @*nivo.slider JS*@
    <script src="@Url.Content("~/Content/Asset/js/jquery.nivo.slider.pack.js")"></script>
    @*simpleLens JS*@
    <script src="@Url.Content("~/Content/Asset/js/jquery.simpleLens.min.js")"></script>
    @*jquery-ui js*@
    <script src="@Url.Content("~/Content/Asset/js/jquery-ui.min.js")"></script>
    @*load-more js*@
    <script src="@Url.Content("~/Content/Asset/js/load-more.js")"></script>
    @*plugins js*@
    <script src="@Url.Content("~/Content/Asset/js/plugins.js")"></script>
    @*main js*@
    <script src="@Url.Content("~/Content/Asset/js/main.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Common.js")"></script>
    <script src="~/Scripts/Helper.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)

</body>
</html>
