<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home || Dastak Xpress</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/Asset/img/favicon.ico")">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <!-- all css here -->
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Asset/css/bootstrap.min.css")">
    <!-- animate css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Asset/css/animate.css")">
    <!-- pe-icon-7-stroke -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Asset/css/materialdesignicons.min.css")">
    <!-- pe-icon-7-stroke -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Asset/css/jquery.simpleLens.css")">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Asset/css/jquery-ui.min.css")">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Asset/css/meanmenu.min.css")">
    <!-- nivo.slider css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Asset/css/nivo-slider.css")">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Asset/css/owl.carousel.css")">
    <!-- style css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Asset/css/style.css")">
    <!-- responsive css -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Asset/css/responsive.css")">
    <!-- modernizr js -->
    <script src="@Url.Content("~/Content/Asset/js/vendor/modernizr-2.8.3.min.js")"></script>

    <link rel="stylesheet" href="@Url.Content("~/Content/toastr.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/toastr.min.css")">
    <script src="@Url.Content("~/Scripts/toastr.js")"></script>
    <script src="@Url.Content("~/Scripts/toastr.min.js")"></script>


    @*<link data-require="toastr" data-semver="2.1.2" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.css" />*@
    @*<script data-require="toastr" data-semver="2.1.2" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.2/toastr.min.js"></script>*@
    <script data-require="jquery@2.2.0" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <style>
        /*.listinge {
            box-shadow: 0px 1px 5px 1px #ccc;
            background: #fff none repeat scroll 0 0;
            transition: all 0.4s ease 0s;
            height: 277px;
        }

        .listingtext {
            box-shadow: 0px 1px 5px 1px #ccc;
        }*/
        .single-list-view {
            box-shadow: 0px 1px 5px 1px #ccc;
        }

        .leftF {
            margin-left: -14px;
            margin-top: -12px;
        }

        .leftS {
            margin-left: -14px;
            margin-top: 10px;
        }

        .rightE {
            margin-left: 16px;
            margin-top: -12px;
        }

        .rightP {
            margin-left: 15px;
            margin-top: 11px;
        }

        .areaT {
            height: auto;
            margin-top: 77px;
        }

        .areaR {
            margin-top: 10px;
        }



        .actioneye {
            left: 65%;
            margin-left: -63px;
            margin-top: -17.5px;
            position: absolute;
            top: 50%;
            opacity: 0;
            transform: scale(2);
            transition: all 0.4s;
        }



        .form-check {
            font-size: large;
        }



        .list-btn > a:hover {
            cursor: pointer;
        }



        a {
            cursor: pointer;
        }



        .cartdrop-sin-container {
            overflow-y: auto;
            max-height: 350px;
        }
        /*======================autocomplete css=========================*
        /*the container must be positioned relative:*/
        .autocomplete {
            position: relative;
            display: inline-block;
        }



        .autocomplete-items {
            position: absolute;
            /*border: 1px solid #d4d4d4;*/
            /*border-bottom: none;*/
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
            height: 200px;
        }



            .autocomplete-items div {
                /*padding: 10px;*/
                cursor: pointer;
                background-color: #fff;
                border-bottom: 1px solid #d4d4d4;
                text-align: left;
            }



                /*when hovering an item:*/
                .autocomplete-items div:hover {
                    background-color: #e9e9e9;
                }



        /*when navigating through the items using the arrow keys:*/
        .autocomplete-active {
            background-color: #d4d4d4 !important;
            /*color: #ffffff;*/
        }



        .searchimg {
            width: 50px;
            height: 80px;
        }
    </style>
    <style>
        .actioneye {
            left: 65%;
            margin-left: -63px;
            margin-top: -17.5px;
            position: absolute;
            top: 50%;
            opacity: 0;
            transform: scale(2);
            transition: all 0.4s;
        }

        .form-check {
            font-size: large;
        }

        .list-btn > a:hover {
            cursor: pointer;
        }

        a {
            cursor: pointer;
        }

        .cartdrop-sin-container {
            overflow-y: auto;
            max-height: 350px;
        }
        /*======================autocomplete css=========================*
        /*the container must be positioned relative:*/
        .autocomplete {
            position: relative;
            display: inline-block;
        }

        .autocomplete-items {
            position: absolute;
            /*border: 1px solid #d4d4d4;*/
            /*border-bottom: none;*/
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
            height: 200px;
        }

            .autocomplete-items div {
                /*padding: 10px;*/
                cursor: pointer;
                background-color: #fff;
                border-bottom: 1px solid #d4d4d4;
                text-align: left;
            }

                /*when hovering an item:*/
                .autocomplete-items div:hover {
                    background-color: #e9e9e9;
                }

        /*when navigating through the items using the arrow keys:*/
        .autocomplete-active {
            background-color: #d4d4d4 !important;
            /*color: #ffffff;*/
        }

        .searchimg {
            width: 50px;
            height: 80px;
        }
    </style>

    <style>

        .removeActiveBtn {
            background-color: grey;
            color: #ccc
        }

        .applyActiveBtn {
            background-color: Highlight;
            color: #fff
        }


        .mainmenu li:hover ul {
            top: 105%;
        }

        .cart-itmes:hover .cartdrop {
            top: 187%;
        }

        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

        .searchimg {
            width: inherit;
            height: inherit;
            padding: 5px;
        }

        .autocomplete-items div {
            height: 70px;
            padding-left: 10px;
        }

        .quentityamounttext strong {
            font-size: 18px
        }
    </style>

    <style>

        .loader-container {
            display: none;
        }

        .loader {
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            display: flex;
            position: fixed;
            z-index: 1000000;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.5);
            justify-content: center;
            align-items: center;
        }

        .loading {
            border: 5px solid #ccc;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border-top-color: #1ecd97;
            border-left-color: #1ecd97;
            animation: spin 1s infinite ease-in;
        }



        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>

    <style>
        #htmlProdListPaggination {
            margin-bottom: 5px;
        }

        .btn-Prod-PrevAndNext, .btn-Prod-Paggination {
            background-color: white;
            outline: 0;
            box-shadow: none;
            border: 1px solid #ccc;
            border-radius: 2px;
            padding: 5px 15px;
        }



            .btn-Prod-PrevAndNext:hover, .btn-Prod-Paggination:hover {
                background-color: #379ce5;
                font-weight: bold;
                color: white;
            }



        .btn-Prod-Paggination-active {
            background-color: #379ce5;
            font-weight: bold;
            color: white;
        }

        .product-dsc > p a {
            min-height: 40px;
            max-height: 40px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .body-pading-right {
            padding-right: 0px !important;
        }

        .right-products .section-title, .s-side-text, .single-product {
            box-shadow: 0px 1px 5px 1px #ccc;
            /*box-shadow: 0px 1px 3px 0px #ccc;*/
            border-radius: 5px;
        }

        .list-btn > a:first-child, .newsletter input[type="submit"] {
            background: #fe5858 none repeat scroll 0 0;
            color: #fff;
        }

            .list-btn > a:hover, .newsletter input[type="submit"]:hover {
                background: #0369b7 none repeat scroll 0 0;
            }

        .sidebar-title .floatleft {
            height: 0;
            padding-bottom: 10px;
        }

        .instagram {
            max-width: 250px;
        }

            .instagram img {
                width: 65px;
                height: 65px;
            }

        .footer-bottom img {
            width: 35px;
            height: 25px;
        }


        .social-media {
            background: rgba(0, 0, 0, 0) url(https://secureservercdn.net/160.153.137.14/c6b.001.myftpupload.com/wp-content/uploads/2021/08/AboutUsTaqatwar-Pakistan_1920x336.png) no-repeat scroll 0 0;
            padding-top: 150px;
            padding-bottom: 125px;
        }

        .main-filter-container a {
            display: inline-flex;
            padding-top: 15px;
            padding-bottom: 10px;
        }

        .footer-two .footer-top, .pages {
            background-color: whitesmoke;
        }

        .single-list-view {
            background-color: #fff;
        }

        div.list-img {
            background-color: whitesmoke;
            border-radius: 5px 0 0 5px;
        }

        .main-filter-container .left-sidebar > div, .main-filter-container .left-sidebar > div li.panel {
            border-radius: 5px;
        }

        #htmlListAndGrid > div > div > div {
            border-radius: 5px;
        }

        #htmlListAndGrid .single-list-view .list-text {
            border-radius: 5px;
        }

        .right-products .section-title {
            border-radius: 5px;
        }

        .sidebar-title {
            padding: 20px 30px 10px 30px;
        }

        .product-details.pages .container .row:nth-child(2) {
            margin-bottom: 20px;
        }

        .product-list-sticker {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
        }

            .product-list-sticker > div {
                border-radius: 5px;
                border: 1px solid #ccc;
                background-color: #edf1f4;
                min-height: 200px;
                align-items: inherit;
                width: 30%;
                min-width: 250px;
                padding: 10px;
                margin: 10px;
                justify-content: center;
                display: inline-flex;
                /*box-shadow: 0px 0px 4px 1px #ccc;*/
                box-shadow: 0px 1px 5px 1px #ccc;
                background-color: #fff;
            }



                .product-list-sticker > div > div:first-child {
                    max-height: 200px;
                }

                .product-list-sticker > div > div {
                    padding: 15px;
                    align-self: center;
                }

                    .product-list-sticker > div > div label {
                        font-weight: 600;
                    }

                .product-list-sticker > div h4 {
                    font-family: "Bree Serif",serif;
                }

            .product-list-sticker div img {
                height: 100%;
                /*max-height: 130px;*/
            }

        @@media screen and (max-width: 1530px) {
            .product-list-sticker > div {
                display: block;
            }
        }

        @@media screen and (max-width: 1000px) {
            .product-list-sticker {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
            }

                .product-list-sticker > div {
                    width: 45%;
                    min-width: 250px;
                }
        }

        @@media screen and (max-width: 768px) {
            .product-list-sticker {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
            }

                .product-list-sticker > div {
                    width: 100%;
                    min-width: 250px;
                }
        }

        /* Desktops and laptops ---------- */
        @@media screen and (min-width: 1224px) {
            .container {
                width: 1190px;
            }

            .main-filter-container {
                width: 20%;
            }

            .main-right-products {
                width: 80%;
            }
        }

        @@media (min-width: 1550px) {
            .container {
                width: 1500px;
            }
        }

        @@media (min-width: 1680px) {
            .container {
                width: 1640px;
            }
        }

        /* Large screens ---------- */
        @@media screen and (min-width: 1824px) {
            .container {
                width: 1780px;
            }
        }

        /*.nivoSlider img {
            height: 500px !important;
        }

        .nivo-main-image {
            height: 500px !important;
        }*/
        #ulLoadRecentViewProduct li {
            margin-bottom: 15px;
        }

        .right-products img, .single-product img {
            max-width: 100%;
            max-height: 225px;
        }

        footer, .latest-blog, .single-products {
            background: #f5f5f547 none repeat scroll 0 0;
        }

        .service-text {
            border-radius: 5px;
            background: #fdbe39 none repeat scroll 0 0;
            background-image: url(https://static.vecteezy.com/system/resources/previews/002/006/837/original/delivery-shop-at-home-with-motorcycle-transport-on-mobile-online-food-order-one-click-perspective-map-green-background-vector.jpg);
        }

        /*.service-text h4, .service-text p {
                color: #fff;
            }*/

    </style>

    @Html.Partial("_Header")
</head>
<body>
    <div class="loader-container">
        <div class="loader">
            <div class="loading">
            </div>
        </div>
    </div>
    @*<input type="hidden" name="name" value="@ViewBag.URL.Authority" id="myurl" />*@
    @RenderBody()
    @Html.Partial("_Footer")

    <!--cookie Modal -->
    <!--<div class="modal fade" id="cookiemyModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Your privacy</h4>
                </div>
                <div class="modal-body">
                    <strong>
                        By clicking “Accept all cookies”, you agree Stack Exchange can store cookies on your device and disclose information in accordance with our <a target="_blank" href="https://support.google.com/chrome/answer/95617?hl=en">Cookie Policy.</a>
                    </strong><br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a class="btn btn-primary" target="_blank" href="https://support.google.com/chrome/answer/95617?hl=en">Enable Cookie </a>
                </div>
            </div>
        </div>
    </div>-->
    <script>
        $(document).ready(function () {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "3",
                "hideDuration": "100",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }



        });
    </script>

    <script src="@Url.Content("~/Scripts/moment.js")"></script>
    <!-- jquery latest version -->
    <script src="@Url.Content("~/Content/Asset/js/vendor/jquery-1.12.3.min.js")"></script>
    <!-- bootstrap js -->
    <script src="@Url.Content("~/Content/Asset/js/bootstrap.min.js")"></script>
    <!-- owl.carousel js -->
    <script src="@Url.Content("~/Content/Asset/js/owl.carousel.min.js")"></script>
    @*meanmenu js*@
    <script src="@Url.Content("~/Content/Asset/js/jquery.meanmenu.js")"></script>
    @*countdown JS*@
    <script src="@Url.Content("~/Content/Asset/js/countdown.js")"></script>
    @*nivo.slider JS*@
    <script src="@Url.Content("~/Content/Asset/js/jquery.nivo.slider.pack.js")"></script>
    @*simpleLens JS*@
    <script src="@Url.Content("~/Content/Asset/js/jquery.simpleLens.min.js")"></script>
    @*jquery-ui js*@
    <script src="@Url.Content("~/Content/Asset/js/jquery-ui.min.js")"></script>
    @*load-more js*@
    <script src="@Url.Content("~/Content/Asset/js/load-more.js")"></script>
    @*plugins js*@
    <script src="@Url.Content("~/Content/Asset/js/plugins.js")"></script>
    @*main js*@
    <script src="@Url.Content("~/Content/Asset/js/main.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Common.js")"></script>
    <script src="@Url.Content("~/Scripts/Helper.js")"></script>

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)

</body>
</html>
